{% extends 'base.html' %}

{% block title %}Assigned Tasks{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="../../assets/js/helpers.js"></script>
    <script src="../../assets/js/assigned_tasks.js"></script>
      <title>Assigned Tasks</title>
  </head>
  <body>
    <script>
      include("../../includes/navbar_teacher.html");
    </script>
    <div class="task-list-container">
      <h1>Assigned Tasks</h1>
      
    </div>
    <div id="noAssignedTasks" class="box">
      <div class="box-content">
        <h3>You Have No Assigned Tasks</h3>
        <p>Now, you can return to the dashboard</p>
        <button id="backToTasklistBtn" class="edit-btn actions-button btn">
          Dashboard
        </button>
      </div>
    </div>
  </body>
{% endblock %}
</html>
