{% extends 'base.html' %}

{% block title %}Assigned Tasks{% endblock %}

{% block content %}

    <div class="task-list-container">
      <h1>Assigned Tasks</h1>
      {% if tasks %}
        <ul>
          {% for task in tasks %}
            <li>
              <strong>{{ task.title }}</strong> - {{ task.get_priority_display }} -
              <a href="{% url 'tasks:view_task' task.id %}">View Details</a>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>No assigned tasks found.</p>
      {% endif %}
    </div>
    <div id="noAssignedTasks" class="box">
      <div class="box-content">
        <h3>You Have No Assigned Tasks</h3>
        <p>Now, you can return to the dashboard</p>
        <button id="backToTasklistBtn" class="edit-btn actions-button btn">
          Dashboard
        </button>
      </div>
    </div>
  
{% endblock %}
