{% extends 'base.html' %}

{% block title %}Completed Tasks{% endblock %}

{% block content %}

    <div class="container mt-5">
      <h2 class="mb-4">Completed Tasks</h2>
      {% if tasks %}
        <ul>
          {% for task in tasks %}
            <li>
              {{ task.title }} - {{ task.get_priority_display }} -
              <a href="{% url 'tasks:view_task' task.id %}">Details</a>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>No completed tasks.</p>
      {% endif %}
    </div>
    <br>
    <div>
      <a style="margin-left: 20px;" class="btn" href="{% url 'dashboard:teacher_dashboard' %}">Back to Dashboard</a> 
    </div>
{% endblock %}
