{% extends 'base.html' %}

{% block title %}Teacher Dashboard{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Completed Tasks</title>
    <script src="../../assets/js/helpers.js"></script>
    <script src="../../assets/js/completed_tasks.js"></script>
  </head>
  <body>
    <script>
      include("../../includes/navbar_teacher.html");
    </script>
    <div class="container mt-5">
      <h2 class="mb-4">Completed Tasks</h2>

      
    </div>
    <br>
    <div>
      <a style="margin-left: 20px;" class="btn" href="dashboard.html">Back to Dashboard</a> 
    </div>
  </body>
{% endblock %}
</html>
