{% extends 'base.html' %}

{% block title %}Teacher Dashboard{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tasks List</title>
    <script src="../../assets/js/helpers.js"></script>
    <script src="../../assets/js/task.js"></script>
    <script src="../../assets/js/task_list.js"></script>
  </head>
  <body>
    <script>
      include("../../includes/navbar_admin.html");
    </script>

    <div class="task-list-container">
      <h1>Created Tasks</h1>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Task Title</th>
            <th>Teacher</th>
            <th>Priority</th>
            <th>Created By</th>
            <th>Completed</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>

    <div id="confirmWindow" class="box">
      <div class="box-content">
        <h2>Delete Task?</h2>
        <p>Are you sure you want to delete this task?</p>
        <button id="confirmBtn" class="delete-btn actions-button btn">
          Yes, Delete
        </button>
        <button id="cancelBtn" class="edit-btn actions-button btn">
          Cancel
        </button>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        actions_btns();
        init_task_list();
      });
    </script>
  </body>
{% endblock %}
</html>
