{% extends 'base.html' %}

{% block title %}Task List{% endblock %}

{% block content %}
{% include 'navbar_admin.html' %}

<div class="task-list-container">
  <h1>Tasks Created by You</h1>
    {% if tasks %}
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Assigned To</th>
            <th>Priority</th>
            <th>Status</th>
            <th>Created At</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for task in tasks %}
            <tr>
              <td>{{ task.title }}</td>
              <td>{{ task.assigned_to.username }}</td>
              <td>
                <span class="priority-badge priority-{{ task.priority }}">
                  {{ task.get_priority_display }}
                </span>
              </td>
              <td>
                <span class="status-badge status-{{ task.status }}">
                  {{ task.get_status_display }}
                </span>
              </td>
              <td>{{ task.created_at|date:"M d, Y" }}</td>
              <td>
                <button  class="delete-btn actions-button btn">Delete</button>
                <button onclick=window.location.href='{% url 'tasks:edit_task' task.id %}'
                        class="edit-btn actions-button btn">Edit
                </button>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="no-tasks">
        <p>You haven't created any tasks yet.</p>
        <a href="{% url 'tasks:add_task' %}" class="main-btns btn">Create a Task</a>
      </div>
    {% endif %}
</div>

{% endblock %}