{% extends 'base.html' %}

{% block title %}Task Details{% endblock %}

{% block content %}


  <div class="card">
    <h3>Task: {{ task.title }}</h3>
    <div class="value"><span class="label">Task ID:</span> {{ task.id }}</div>
    <div class="value"><span class="label">Priority:</span> {{ task.get_priority_display }}</div>
    <div class="value"><span class="label">Assigned by:</span> {{ task.created_by.username }}</div>
    <div class="value"><span class="label">Description:</span><br>{{ task.description }}</div>
  </div>
{% endblock %}
