{% extends 'base.html' %}
{% block title %}Admin Dashboard{% endblock %}

{% block content %}
    {% include 'navbar_admin.html' %}
    <h1>Welcome, {{ user_name }}</h1>
    <p>Here, you can manage your tasks..</p>
    <div>
      <div class="button-group">
        <a href="{% url 'tasks:add_task' %}" class="dashboard-button">
          <div class="card-title">Add Task</div>
          <div class="card-description">
            Create a new task and add it to the tasks list
          </div>
        </a>
        <a href="{% url 'tasks:tasks_list' %}" class="dashboard-button">
          <div class="card-title">Tasks List</div>
          <div class="card-description">View all the created tasks</div>
        </a>
      </div>

      <div class="task-summary">
        <h3>Task Summary</h3>
            <p><strong>Total Created Tasks: </strong> {{ total_tasks }}</p>
            <p><strong>Pending Tasks: </strong> {{ pending_tasks }}</p>
            <p><strong>Completed Tasks: </strong> {{ completed_tasks }}</p>
      </div>
    </div>
{% endblock %}
