<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../../assets/images/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../../assets/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../../assets/images/favicon-16x16.png"
    />
    <link rel="manifest" href="../../assets/images/site.webmanifest" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <script src="../../assets/js/helpers.js"></script>
    <script src="../../assets/js/dashboard.js"></script>
  </head>
  <body>
    <script>
      include("../../includes/navbar_admin.html");
      update_dashboard_content();
    </script>
    <p>Here, you can manage your tasks..</p>
    <div>
      <div class="button-group">
        <a href="add_task.html" class="dashboard-button">
          <div class="card-title">Add Task</div>
          <div class="card-description">
            Create a new task and add it to the tasks list
          </div>
        </a>
        <a href="task_list.html" class="dashboard-button">
          <div class="card-title">Tasks List</div>
          <div class="card-description">View all the created tasks</div>
        </a>
      </div>

      <div class="task-summary">
        <h3>Task Summary</h3>

      </div>
    </div>
  </body>
</html>
