{% extends 'base.html' %}

{% block title %}Teacher Dashboard{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin Dashboard</title>
    <script src="../../assets/js/helpers.js"></script>
    <script src="../../assets/js/dashboard.js"></script>
  </head>
  <body>
    <script>
      include("../../includes/navbar_admin.html");
      update_dashboard_content();
    </script>
    <p>Here, you can manage your tasks..</p>
    <div>
      <div class="button-group">
        <a href="{% url 'tasks:add_task' %}" class="dashboard-button">
          <div class="card-title">Add Task</div>
          <div class="card-description">
            Create a new task and add it to the tasks list
          </div>
        </a>
        <a href="{% url 'tasks:tasks_list' %}" class="dashboard-button">
          <div class="card-title">Tasks List</div>
          <div class="card-description">View all the created tasks</div>
        </a>
      </div>

      <div class="task-summary">
        <h3>Task Summary</h3>

      </div>
    </div>
  </body>
{% endblock %}
</html>
