{% extends 'base.html' %}
{% block title %}Teacher Dashboard{% endblock %}
{% block content %}
  {% include 'navbar_teacher.html' %}
  <body>
    <h1>Welcome, {{ user_name }}</h1>
    <div class="dahsboard-container">
      <div class="button-group">
        <a href="{% url 'tasks:search_tasks' %}" class="dashboard-button">
          <div class="card-title">Search Task</div>
          <div class="card-description">
            Search your assigned tasks by priority
          </div>
        </a>
        <a href="{% url 'tasks:assigned_tasks' %}" class="dashboard-button">
          <div class="card-title">Assigned Tasks</div>
          <div class="card-description">View all your assigned tasks</div>
        </a>
        <a href="{% url 'tasks:completed_tasks' %}" class="dashboard-button">
          <div class="card-title">Completed Tasks</div>
          <div class="card-description">View all your completed tasks</div>
        </a>
      </div>

      <div class="task-summary">
        <h3>Task Summary</h3>
        <p><strong>Total Tasks Assigned: </strong> {{ total_assigned_tasks }}</p>
        <p><strong>Pending Tasks: </strong> {{ pending_tasks }}</p>
        <p><strong>Completed Tasks: </strong> {{ completed_tasks }}</p>
      </div>
    </div>
{% endblock %}
