body {
    background-image: url('loginBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
  }

h1{
    color: #5D4037	;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

form{
    background-color: navajowhite;
    width: 600px;
    margin: 20px auto;
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #37373f;
    border-radius: 5px;
    align-items: center;
}

input[type="text"], input[type="password"], input[type="email"]{
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"]{
    background-color: #4CAF50;
    color: white;
}

label{
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

button{
    background-color: rgb(41, 38, 33);
    width: 300px;
    height: 50px;
    margin-left: 150px;
    font-weight: bold;
    color: white;
}
