{% extends 'base.html' %}

{% block title %}Teacher Dashboard{% endblock %}

{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>tickEd — Stay on track. Stay tickEd.</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link 
    href="https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" 
    rel="stylesheet">
    <script src="assets/js/helpers.js"></script>
    <script>
      starting_index();
    </script>
  </head>
  <body>
    <div class="dashboard-container">
      <img
        src="../../../../static/images/icon.png"
        alt="tickEd Logo"
        width="120"
        style="position: absolute; top: 0; left: 0; margin-bottom: 20px"
      />

      <h1 id="index-header">Welcome to tickEd</h1>
      <p id="slogan">Stay on track. Stay tickEd.</p>

      <div class="button-group">
        <button
          class="index-buttons btn"
          onclick="window.location.href='{% url 'accounts:login' %}'"
        >
          Login
        </button>
        <button
          class="signup-button index-buttons btn"
          onclick="window.location.href='{% url 'accounts:signup' %}'"
        >
          Sign Up
        </button>
      </div>
    </div>
    <footer>
      <div id="contact-information">
        <ul>
          contact us:
          <li>
            <strong>Zeyad Mohamed Arafat: </strong>zeyadarafat833@gmail.com
          </li>
          <li>
            <strong>Youssef Ahmed Beshir: </strong>youssefahmedbeshir@gmail.com
          </li>
          <li>
            <strong>Moaaz Mohamed Soliman: </strong>moaaz.soliman@gmail.com
          </li>
          <li><strong>Mohamed Gamal Zainhom: </strong>Mhmdj1353@gmail.com</li>
        </ul>
      </div>

      <div id="about-this-website">
        <a href="pages/about.html">About This Website</a>
      </div>
    </footer>
  </body>
{% endblock %}
</html>
